
<p>{{ ingredient.nom }}</p>
<div style="margin-left: auto;">
    <img src="{{ asset('icons/croix.svg') }}" alt="modifier" onclick="modifierElement()">
</div>
<div style="display: flex; justify-content: center; align-items: center;" hx-target="this" hx-swap="outerHTML">
    <button class="btn btn-success" hx-get="{{ path('ajouterIngredient', {'idProduit': produit.id}) }}">+</button>
</div>