<div style="flex: 1;">
<form style="display: flex; justify-content: space-between; align-items: center;" hx-post="{{ path('modifierQuantite', {'idRecette': recette.id, 'quantite': quantite}) }}" hx-target="this" hx-swap="outerHTML">

<div style="flex: 1;">
    <p>{{ recette.ingredient.nom }}</p>
</div>
<div style="width: 50px; margin: 0 10px;">/</div>
<div style="flex: 1;">
<input type="number" name="quantite" style="width: 50px; margin-right: 3px;" value="{{quantite}}" min="1">
</div>
  <div style="margin-left: auto;">
    <button type="submit" class="button">Valider</button>
  </div>
</form>
</div>
