
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/var/
/vendor/
/.env
/.env.test
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
.env
.idea
/public/bundles/
/public/bundles/easyadmin
.env
public/bundles/easyadmin/page-color-scheme.f25113a4.js
public/bundles/easyadmin/manifest.json
public/bundles/easyadmin/images/flags/MA.svg
public/bundles/easyadmin/images/flags/LY.svg
public/bundles/easyadmin/images/flags/LU.svg
public/bundles/easyadmin/images/flags/LT.svg
public/bundles/easyadmin/images/flags/KY.svg
public/bundles/easyadmin/images/flags/KW.svg
public/bundles/easyadmin/images/flags/KP.svg
public/bundles/easyadmin/images/flags/KM.svg
public/bundles/easyadmin/images/flags/KH.svg
public/bundles/easyadmin/images/flags/KE.svg
public/bundles/easyadmin/images/flags/JP.svg
public/bundles/easyadmin/images/flags/JO.svg
public/bundles/easyadmin/images/flags/JM.svg
public/bundles/easyadmin/images/flags/AO.svg
public/bundles/easyadmin/images/flags/AD.svg
public/bundles/easyadmin/form.645e16a6.js
public/bundles/easyadmin/fonts/fa-v4compatibility.68577e40f3e70067b5da5b556bc896f6.woff2
public/bundles/easyadmin/fonts/fa-v4compatibility.68577e40.woff2
public/bundles/easyadmin/fonts/fa-v4compatibility.0e3a648be390bd8cb094342019b720cf.ttf
public/bundles/easyadmin/fonts/fa-v4compatibility.0e3a648b.ttf
public/bundles/easyadmin/fonts/fa-solid-900.bb975c966c37455a1bc3c7e29971386c.woff2
public/bundles/easyadmin/fonts/fa-solid-900.bb975c96.woff2
public/bundles/easyadmin/fonts/fa-solid-900.4a2cd718d7031b732e7610fba99ecf74.ttf
public/bundles/easyadmin/fonts/fa-solid-900.4a2cd718.ttf
public/bundles/easyadmin/fonts/fa-regular-400.d87474231f419288480274125e0e9767.ttf
public/bundles/easyadmin/fonts/fa-regular-400.d8747423.ttf
public/bundles/easyadmin/fonts/fa-regular-400.3223dc79c1adee56370b19dca985aa17.woff2
public/bundles/easyadmin/fonts/fa-regular-400.3223dc79.woff2
public/bundles/easyadmin/fonts/fa-brands-400.e033a13ee751afc1860c3bc31ede1065.woff2
public/bundles/easyadmin/fonts/fa-brands-400.e033a13e.woff2
public/bundles/easyadmin/fonts/fa-brands-400.150de8eaa454d669c405d810c8dbbf14.ttf
public/bundles/easyadmin/fonts/fa-brands-400.150de8ea.ttf
public/bundles/easyadmin/field-textarea.663dbf0a.js
public/bundles/easyadmin/field-text-editor.722b7f0e.js.LICENSE.txt
public/bundles/easyadmin/field-text-editor.722b7f0e.js
public/bundles/easyadmin/field-slug.0af8dc08.js
public/bundles/easyadmin/field-image.b7b44654.js
public/bundles/easyadmin/field-file-upload.b5f460d6.js
public/bundles/easyadmin/field-code-editor.6507533d.js
public/bundles/easyadmin/field-boolean.353e173e.js
public/bundles/easyadmin/entrypoints.json
public/bundles/easyadmin/app.fa78b25b.rtl.css
public/bundles/easyadmin/app.fa78b25b.css
.env
