<form style="display: flex; align-items: center;"
      hx-post="{{ path('majPrixProduit', {'idProduit': produit.id}) }}" 
      hx-target="this" hx-swap="outerHTML"
      hx-trigger="submit">

  <input type="number" id="prix" name="prix" step="0.01" value="{{ produit.prixUnitaire }}" style="width: 50px; margin: 0;" required>
  <div style="margin-left: auto;">
    <button type="submit" class="button" style="margin-left: 1px;">Valider</button>
  </div>

</form>

