<p style="cursor:pointer; text-align: center" hx-target="this" hx-get="{{ path('majPrixProduit', {'idProduit': produit.id}) }}" hx-trigger="click" hx-swap="outerHTML">
    <b>{{ produit.prixUnitaire }}</b> <i>€</i>
</p>