{% extends 'base.html.twig' %}
{% block body %}
    <h1>Contact Page</h1>
    <p>Cette page est la page contact </p><br>
    <p>bbbbbbnnnnnnnnnnnnn</p><br><p>bbbbbbnnnnnnnnnnnnn</p>
{% endblock body %}