{% extends 'mainBase.html.twig' %}
{% block body %}
    <h1>Eco-Musée Page</h1>
    <p>Cette page est la page Eco-Musée</p><br>
    <p>bbbbbbnnnnnnnnnnnnn</p><br><p>bbbbbbnnnnnnnnnnnnn</p>
{% endblock body %}