{% extends 'mainBase.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('scss/pages/homepage.css') }}">
{% endblock %}

{% block body %}
    <div class="home-title">
        <div class="container">
            <div class="title">
                <h1 class="moulin">Moulin</h1>
                <h1 class="dpdv inversed-style">de Pont des Vents</h1>
                <button class="btn-square">Shop our product</button>
            </div>
            <img src="{{ asset('images/logo/logo_moulin.png') }}" alt="Logo du Moulin de Pont des Vents">
        </div>
    </div>
{% endblock body %}
