{% extends 'mainBase.html.twig' %}
{% block body %}
    <h1>Profil</h1>
    <p>Cette page est la page profil </p><br>
    <p>profil profil profil profil </p><br><p>profil profil profil profil </p>
{% endblock body %}