{# templates/facture/nouvelle_facture.html.twig #}
{# templates/facture/commande.html.twig #}
{% extends
    admin != 0
    ? 'base.html.twig'
    : 'user/userBase.html.twig'
%}

{% block body %}
<section class="container">

    {# AFFICHE LES MESSAGES DE SUCCES  #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <h3 class="element">Nouvelle commande :</h3>
    <form id="commandeForm" action="/creation_commande" method="post">
        <div style="display: flex; margin-top: 15px;">
            <div class="element" style="min-width: 600px;">
                <select class="element" style="border: 2px solid lightgrey;" id="produitDropdown" name="produitDropdown">
                    <option value="" disabled selected>Sélectionnez un produit</option>

                    {% for produit in produits %}
                        <option value="{{ produit.id }}">{{ produit.nom }} {{produit.prixUnitaire}}€</option>
                    {% endfor %}
                </select>

                <div id="produitsSelectionnes" style="margin-top: 20px;"></div>
            </div>
            <div class="element" style="margin-left: 15px;">
                <h3>Destinataire :</h3>
                <label for="dateReservation">Date de réservation</label>
                <input type="date" class="element" id="dateReservation" name="dateReservation" required>

                <div style="margin: 15px 0;">
                    <input type="text" class="element" id="nom" name="nom" required placeholder="Nom">
                    <input type="text" class="element" id="prenom" name="prenom" required placeholder="Prénom">
                </div>



                <div id="total" class="element" style="display: block; margin-bottom: 20px;">Total: 0€</div>

                <input type="radio" id="paiementJourMeme" name="typePaiement" style="margin-right: 10px;" value="jourMeme" checked>
                <label for="paiementJourMeme">Paiera le jour-même</label>
                <br>
                {% if (admin!=0) %}
                <input type="radio" id="paiementDejaEffectue" name="typePaiement" style="margin-right: 10px;" value="dejaEffectue">
                <label for="paiementDejaEffectue">A déjà payé</label>
                <br>
                <div id="datePaiementContainer" style="display: none;">
                    <label for="datePaiement">Date de paiement</label>
                    <input type="datetime-local" class="element" id="datePaiement" name="datePaiement">
                </div>
                {% endif %}

                <button type="submit" class="button" style="margin-top: 15px;" onclick="validerFormulaire()">Valider</button>
            </div>
        </div>

    </form>
</section>

{# SCRIPT QUI SERT A AFFICHER OU NON LA DATE LORSQUE L'ON CLIQUE SUR A DEJA PAYE #}
<script>
    var paiementJourMeme = document.getElementById("paiementJourMeme");
    var paiementDejaEffectue = document.getElementById("paiementDejaEffectue");
    var datePaiementContainer = document.getElementById("datePaiementContainer");
    var datePaiementInput = document.getElementById("datePaiement");

    paiementJourMeme.addEventListener("change", function () {
        datePaiementContainer.style.display = "none";
        if (datePaiementInput.hasAttribute('required')) {
            datePaiementInput.removeAttribute('required');
        }
    });

    paiementDejaEffectue.addEventListener("change", function () {
        datePaiementContainer.style.display = "block";
        datePaiementInput.setAttribute('required', 'required');
    });
</script>

{# SCRIPT POUR SET LA DATE MINIMALE DE RESERVATION A DEUX JOURS APRES LE JOUR ACTUEL #}
<script>
    var dateReservationInput = document.getElementById("dateReservation");

    var dateActuelle = new Date();

    // Ajout de deux jours à la date actuelle pour obtenir la date minimale de réservation
    dateActuelle.setDate(dateActuelle.getDate() + 2);
    var minDate = dateActuelle.toISOString().split('T')[0]; 

    dateReservationInput.min = minDate;
</script>

<script>

    function validerFormulaire() {
        var nom = document.getElementById("nom").value.trim();
        var prenom = document.getElementById("prenom").value.trim();
        var dateReservation = document.getElementById("dateReservation").value.trim();

        //recupere les infos dans la div des produits sélectionnées
        var produitsSelectionnes = document.querySelectorAll("#produitsSelectionnes div");
        var quantites = document.querySelectorAll("#produitsSelectionnes input[type='number']");

        // Vérification des champs obligatoires
        if (nom === "" || prenom === "" || dateReservation === "" || produitsSelectionnes.length === 0) {
            return;
        }

        //Tableau qui contiendra pour chaque id de produit, une quantité dans la facture
        var produitsEtQuantites = {};

        // parcours l'ensemble des divs crées dans produitsSelectionnes
        for (var i = 0; i < produitsSelectionnes.length; i++) {
            var produitDiv = produitsSelectionnes[i];
            var quantiteDropdown = quantites[i];

            var idProduit = produitDiv.id.replace("produitDiv_", "");
            var quantite = quantiteDropdown.value;

            produitsEtQuantites[idProduit] = quantite;
        }

        var formulaire = document.getElementById("commandeForm");

        document.getElementById("commandeForm").submit();
        
    }

    // GESTIONNAIRE D'EVENEMENT POUR LE DROPDOWN
    document.addEventListener("DOMContentLoaded", function () {
        var produitDropdown = document.getElementById("produitDropdown");
        var produitsSelectionnes = document.getElementById("produitsSelectionnes");

        // Quand un produit du dropdown est sélectionné
        produitDropdown.addEventListener("change", function () {
            var selectedOption = produitDropdown.options[produitDropdown.selectedIndex];

            if (selectedOption.value !== "") {
                // Créér une div pour le produit sélectionné
                var produitDiv = document.createElement("div");
                produitDiv.innerHTML = selectedOption.text;

                // Attribue l'ID du produit comme ID de la div
                produitDiv.id = "produitDiv_" + selectedOption.value;

                // Ajoute le produit à la div des produits sélectionnés
                produitsSelectionnes.appendChild(produitDiv);

                // AJOUTE L'INPUT DE QUANTITE DU PRODUIT
                var quantiteInput = document.createElement("input");
                quantiteInput.type = "number";
                quantiteInput.name = "quantiteProduit[" + selectedOption.value + "]";
                quantiteInput.min = "1"; 
                quantiteInput.value = "1"; // Valeur par défaut

                produitDiv.appendChild(quantiteInput);

                selectedOption.remove();

                // IMAGE POUR SUPPRIMER LE PRODUTI DE LA FACTURE
                var deleteIcon = document.createElement("img");
                deleteIcon.src = "/icons/croix.svg";
                deleteIcon.alt = "supprimer";
                deleteIcon.style.padding = "0 10px";
                deleteIcon.style.marginRight = "10px";
                deleteIcon.style.cursor = "pointer";
                deleteIcon.addEventListener("click", function () {
                    produitDiv.remove(); // Supprime la div du produit sélectionné

                        // LE RAJOUTE AU DROPDOWN
                        var newOption = document.createElement("option");
                        newOption.value = selectedOption.value;
                        newOption.text = selectedOption.text;
                        produitDropdown.appendChild(newOption);
                });
                produitDiv.appendChild(deleteIcon);

                // Retire le produit du dropdown


                // Réinitialise le dropdown pour sélectionner l'option vide
                produitDropdown.selectedIndex = 0;

            }
        });
    });

    function checkSelectedDate(input) {
        var selectedDate = new Date(input.value);
        var dayOfWeek = selectedDate.getDay(); // 0 pour dimanche, 1 pour lundi, 2 pour mardi, ..., 6 pour samedi

        // Vérifier si le jour de la semaine est mercredi (3) ou vendredi (5)
        if (dayOfWeek !== 3 && dayOfWeek !== 5) {
            alert('Veuillez sélectionner un mercredi ou un vendredi.');
            input.value = ''; // Effacer la valeur si la date sélectionnée n'est pas un mercredi ou un vendredi
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        var dateReservationInput = document.getElementById("dateReservation");

        dateReservationInput.addEventListener("change", function () {
            checkSelectedDate(this);
        });
    });
</script>
{% endblock %}
