{% extends 'base.html.twig' %}

{% block title %}Historique des factures{% endblock %}

{% block body %}
    <section class="head">
        <div class="title">
            <h1>Historique des Factures</h1>
        </div>
    </section>
    <div class="">

    </div>


    </script>
    {#    On utilise pas JQuery ici nan ? Si c'est pas le cas suppr la ligne suivante #}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

{% endblock %}