@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}
* ul {
  list-style: none;
}
* a {
  text-decoration: none;
  color: black;
}
* button:hover {
  cursor: pointer;
}
* button {
  background-color: transparent;
  border: none;
}

:root {
  --color-black: #222;
  --color-white: white;
  --color-lightgrey: #e2e8f0;
  --color-subgrey: #f8fafc;
  --color-blue: #5368d5;
  --font-title: "League Spartan", sans-serif;
  --font-content: "Poppins", sans-serif;
}

::selection {
  background-color: var(--color-black);
  color: var(--color-white);
}

body.loaded {
  opacity: 1;
}

body {
  background-color: var(--color-primary);
  font-family: var(--font-content) !important;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

header {
  border-bottom: 1px solid var(--color-lightgrey);
  padding: 8px 0;
  background-color: var(--color-subgrey);
}
header div.nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
header div.nav a.accueil div {
  display: flex;
  align-items: center;
}
header div.nav a.accueil div img {
  height: 35px;
  margin-right: 15px;
}
header div.nav ul.link {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header div.nav ul.link li {
  margin: 0 15px;
}

.redround {
  position: relative;
  display: inline-block;
}

.redround:after {
  content: "";
  position: absolute;
  top: 7px;
  right: 6px;
  width: 10px;
  border: 2px solid white;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  transform: translate(50%, -50%);
}

#alertButton:hover {
  cursor: pointer;
}

.tooltip-style-modal-container {
  position: relative;
}

.tooltip-style-modal {
  position: absolute;
  background-color: #333;
  display: none;
  color: #fff;
  padding: 7px 12px;
  margin-top: 4px;
  border-radius: 10px;
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
  z-index: 999;
  left: 50%;
  font-style: normal;
  font-size: 16px !important;
  transform: translateX(-50%);
}

.button {
  background-color: var(--color-blue);
  padding: 9px 23px;
  border-radius: 7px;
  color: white;
}

.tooltip-style-modal-light {
  position: absolute;
  border: 1px solid var(--color-lightgrey);
  background-color: var(--color-subgrey);
  display: none;
  padding: 7px 12px;
  border-radius: 10px;
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
  z-index: 999;
  left: 50%;
  font-style: normal;
  font-size: 16px !important;
  transform: translateX(-50%);
}

section.container {
  width: 80%;
  margin: 15px auto 0;
}
section.container table {
  margin: 35px auto auto;
  border-spacing: 0 !important;
  border-collapse: collapse;
  border-radius: 15px;
  width: 1200px;
}
section.container table .button {
  padding: 5px 13px;
  margin: 5px 10px;
}
section.container table input, section.container table select {
  padding: 6px 13px;
  border-radius: 8px;
  border: 1px solid var(--color-lightgrey);
  background-color: var(--color-lightgrey);
  margin: 0 10px;
}
section.container table tr, section.container table td {
  padding: 5px 15px;
  border: 2px solid var(--color-lightgrey);
  margin: 0 !important;
}

section.login {
  width: 80%;
  height: 80vh;
  margin: 15px auto 0;
  display: flex;
  align-items: center;
}
section.login form {
  background-color: var(--color-subgrey);
  border: 1px solid var(--color-lightgrey);
  border-radius: 15px;
  padding: 30px;
  text-align: center;
}
section.login form .btns {
  margin-top: 20px;
}
section.login form .btns .signup {
  font-size: 15px;
  margin-left: 25px;
}
section.login form .container {
  display: flex;
}
section.login form .container .content h1 {
  font-size: 35px;
}
section.login form .container .content .inputs {
  margin-top: 35px;
  text-align: center;
}
section.login form .container .content .inputs label {
  display: block;
  margin-top: 10px;
}
section.login form .container .content .inputs input {
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
}
section.login form .container .content .inputs input:focus {
  outline: none;
  border: none;
}

/*# sourceMappingURL=base.css.map */
