{% extends 'user/userBase.html.twig' %}

{% block stylesheets %}
    {# Vos feuilles de style #}
{% endblock %}

{% block body %}
    <div class="container">

        <form id="commandeForm" action="/creation_commande" method="post">
            <!-- Informations de l'utilisateur -->
            <div id="infos-utilisateur">
                <h2>Informations de l'utilisateur</h2>
                <label for="nom">Nom</label>
                <input type="text" id="nom" name="nom" required>

                <label for="prenom">Prénom</label>
                <input type="text" id="prenom" name="prenom" required>

                <button id="btn-suivant-infos">Suivant</button>
            </div>

            <!-- Section de sélection de la date de réservation -->
            <div id="nouvelle-section-date" style="display: none;">
                <label for="dateReservation">Date de réservation</label>
                <input type="date" id="dateReservation" name="dateReservation" required>

                <!-- Boutons Précédent et Suivant -->
                <button type="button" id="btn-precedent-date">Précédent</button>
                <button type="button" id="btn-suivant-date">Suivant</button>
            </div>

            <!-- Section de sélection des produits -->
            <div id="nouvelle-section-produits" style="display: none;">
                <label for="produitDropdown">Sélectionnez un produit :</label>
                <select id="produitDropdown" name="produitDropdown">
                    <option value="" disabled selected>Choisissez un produit</option>
                    {% for produit in produits %}
                        <option value="{{ produit.id }}">{{ produit.nom }} {{ produit.prixUnitaire }}€</option>
                    {% endfor %}
                </select>

                <!-- Champ pour la quantité -->
                <label for="quantite">Quantité :</label>
                <input type="number" id="quantite" name="quantite" min="1" value="1">

                <div id="produitsSelectionnes"></div>
                <div id="total">Total: €</div>

                <!-- Choix de paiement -->
                <label for="paiementJourMeme">Paiera le jour-même</label>
                <input type="radio" id="paiementJourMeme" name="typePaiement" value="jourMeme" checked>
                <br>
                <label for="paiementDejaEffectue">A déjà payé</label>
                <input type="radio" id="paiementDejaEffectue" name="typePaiement" value="dejaEffectue">
                <br>
                <div id="datePaiementContainer" style="display: none;">
                    <label for="datePaiement">Date de paiement</label>
                    <input type="datetime-local" id="datePaiement" name="datePaiement" required>
                </div>

                <!-- Boutons Précédent et Suivant -->
                <button type="button" id="btn-precedent-produits">Précédent</button>
                <button type="button" id="btn-suivant-produits">Suivant</button>

                <!-- Bouton Valider -->
                <button type="button" onclick="validerFormulaire()">Valider</button>
            </div>
        </form>

        <!-- Script pour afficher ou masquer la date de paiement -->
        <script>
            var paiementJourMeme = document.getElementById("paiementJourMeme");
            var paiementDejaEffectue = document.getElementById("paiementDejaEffectue");
            var datePaiementContainer = document.getElementById("datePaiementContainer");

            paiementJourMeme.addEventListener("change", function () {
                datePaiementContainer.style.display = "none";
            });

            paiementDejaEffectue.addEventListener("change", function () {
                datePaiementContainer.style.display = "block";
            });
        </script>

        <!-- Script JavaScript pour gérer la sélection des produits -->
        <script>
            // Fonction pour valider le formulaire
            function validerFormulaire() {
                // Récupère les informations sur les produits sélectionnés
                var produitsSelectionnes = document.querySelectorAll("#produitsSelectionnes div");
                var quantites = document.querySelectorAll("#produitsSelectionnes select");

                // Tableau qui contiendra, pour chaque ID de produit, une quantité dans la facture
                var produitsEtQuantites = {};

                // Parcours l'ensemble des divs créées dans produitsSelectionnes
                for (var i = 0; i < produitsSelectionnes.length; i++) {
                    var produitDiv = produitsSelectionnes[i];
                    var quantiteDropdown = quantites[i];

                    var idProduit = produitDiv.id.replace("produitDiv_", "");
                    var quantite = quantiteDropdown.value;

                    produitsEtQuantites[idProduit] = quantite;
                }

                // Soumet le formulaire
                document.getElementById("commandeForm").submit();
            }

            // Gestion des événements lorsque le DOM est chargé
            document.addEventListener("DOMContentLoaded", function () {
                var produitDropdown = document.getElementById("produitDropdown");
                var produitsSelectionnes = document.getElementById("produitsSelectionnes");
                var nouvelleSectionDate = document.getElementById("nouvelle-section-date");
                var nouvelleSectionProduits = document.getElementById("nouvelle-section-produits");
                var btnSuivantInfos = document.getElementById("btn-suivant-infos");
                var btnPrecedentDate = document.getElementById("btn-precedent-date");
                var btnSuivantDate = document.getElementById("btn-suivant-date");
                var btnPrecedentProduits = document.getElementById("btn-precedent-produits");
                var btnSuivantProduits = document.getElementById("btn-suivant-produits");

                // Gestion du bouton "Suivant" pour les infos utilisateur
                btnSuivantInfos.addEventListener("click", function () {
                    document.getElementById("infos-utilisateur").style.display = "none";
                    nouvelleSectionDate.style.display = "block";
                });

                // Gestion du bouton "Précédent" pour la sélection de la date
                btnPrecedentDate.addEventListener("click", function () {
                    nouvelleSectionDate.style.display = "none";
                    document.getElementById("infos-utilisateur").style.display = "block";
                });

                // Gestion du bouton "Suivant" pour la sélection de la date
                btnSuivantDate.addEventListener("click", function () {
                    nouvelleSectionDate.style.display = "none";
                    nouvelleSectionProduits.style.display = "block";
                });

                // Gestion du bouton "Précédent" pour la sélection des produits
                btnPrecedentProduits.addEventListener("click", function () {
                    nouvelleSectionProduits.style.display = "none";
                    nouvelleSectionDate.style.display = "block";
                });
            });
        </script>
    </div>

{% endblock %}
