 // BASE SASS FILE - fichier sass d'initialisation du style globale

// Google Fonts Imports : Poppins + League Spartan
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Initialisation
*{
  margin: 0;
  padding: 0;
  //color: var(--color-black);
  ul{list-style: none;}
  a{text-decoration: none; color: black;}
  button:hover{cursor: pointer;}
  button{background-color: transparent; border: none;}

  //border: 1px solid red;
}

// Définition des variables
:root{
  --color-black: #222;
  --color-white: white;
  --color-lightgrey: #e2e8f0;
  --color-subgrey: #f8fafc;
  --color-blue: #5368d5;

  --font-title: 'League Spartan', sans-serif;
  --font-content: 'Poppins', sans-serif;
}

// Couleur custom de selection
::selection {
  background-color: var(--color-black);
  color: var(--color-white);
}

// Pour l'animation au chargement du DOM
main.loaded {
  opacity: 1;
}

// Style définition principale
body {
  background-color: var(--color-primary);
  font-family: var(--font-content) !important;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}
*{
  //border: 1px solid red;
}
main{
  // Pour l'animation au chargement du DOM
  opacity: 0;
  transition: opacity .3s ease-in-out;
}
header{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  border-bottom: 1px solid var(--color-lightgrey);
  padding: 8px 0;
  background-color: var(--color-subgrey);
  div.nav{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

    a.accueil{
      div {
        display: flex;
        align-items: center;
        img {
          height: 35px;
          margin-right: 15px;
        }
      }
    }
    ul.link{
      display: flex;
      align-items: center;
      justify-content: space-around;
      li{
        margin: 0 15px;
      }
    }
  }
}

.redround {
  position: relative;
  display: inline-block;
}

.redround:after {
  content: '';
  position: absolute;
  top: 7px;
  right: 6px;
  width: 10px;
  border: 2px solid white;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  transform: translate(50%, -50%);
}
#alertButton:hover{
  cursor: pointer;
}
.tooltip-style-modal-container {
  position: relative;
}
*{
  //border: 1px solid red;
}
.tooltip-style-modal {
  position: absolute;
  background-color: #333;
  display: none;
  color: #fff;
  padding: 7px 12px;
  margin-top: 4px;
  border-radius: 10px;
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
  z-index: 999;
  left: 50%;
  font-style: normal;
  font-size: 16px !important;
  transform: translateX(-50%);
}
.button{
  background-color: var(--color-blue);
  padding: 9px 23px;
  border-radius: 7px;
  color: white;
}

.tooltip-style-modal-light {
  border: 1px solid var(--color-lightgrey);
  background-color: var(--color-subgrey);
  display: none;
  //color: #fff;
  padding: 7px 12px;
  border-radius: 10px;
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
  z-index: 999;
  font-style: normal;
  font-size: 16px !important;
  width: 100%;
  margin-right: 2%;
  form{
    display: flex;
    margin-top: 15px;
    label{

    }
    input{
      padding: 3px;
      border-radius: 5px;
      border: 1px solid var(--color-lightgrey);
      margin: 0 20px 0 10px;
    }
  }
}


// Page Produit
section.container{
  width: 80%;
  margin: 0 auto ;
  .dataTables_filter{
    border: 1px solid var(--color-lightgrey);
    background-color: var(--color-subgrey);
    padding: 12px 18px;
    border-radius: 10px;
    display: inline-block;
    input{
      padding: 5px;
      border-radius: 5px;
      border: 1px solid var(--color-lightgrey);
    }
  }
  table{
    margin: 25px auto auto;
    border-spacing: 0 !important;
    border-collapse: collapse;
    border-radius: 15px;
    width: 100%;
    .button{
      padding: 5px 13px;
      margin: 5px 10px;
    }
    input, select{
      padding: 6px 13px;
      border-radius: 8px;
      border: 1px solid var(--color-lightgrey);
      background-color: var(--color-lightgrey);
      margin: 0 10px;
    }
    tr, td{
      padding: 5px 15px;
      border: 2px solid var(--color-lightgrey);
      margin: 0 !important;
    }
  }
}

// Page Login
section.login{
  width: 80%;
  height: 80vh;
  margin: 15px auto 0;
  display: flex;
  align-items: center;
  .leftSection{
    img{

    }
  }
  form{
    background-color: var(--color-subgrey);
    border: 1px solid var(--color-lightgrey);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    .btns{
      margin-top: 20px;
      .signup{
        font-size: 15px;
        margin-left: 25px;
      }
    }
    .container {
      display: flex;
      .content {
        h1 {
          font-size: 35px;
          display: inline-block;
          padding-bottom: 0;
          margin-bottom: 15px;
        }
        h1:after {
          content: '';
          display: block;
          margin: auto;
          height: 3px;
          border-radius: 15px;
          animation: underline 2s infinite;
        }
        @keyframes underline {
          0% { width: 0%; background-color: black;}
          100% {width: 100%; background-color: transparent;}
        }
        .inputs {
          margin-top: 35px;
          text-align: center;
          .row{
            display: flex;
            justify-content: space-around;
            align-items: center;
          }
          .agree{
            div{
              display: flex;
              justify-content: center;
              align-items: center;
              input{
                margin-top: 11px;
                margin-left: 15px;
              }
            }
          }
          label {
            display: block;
            margin-top: 10px;
          }

          input {
            background-color: var(--color-lightgrey);
            padding: 10px 20px;
            border: none;
            border-radius: 15px;
          }

          input:focus {
            outline: none;
            border: none;
          }
        }
      }
    }
  }
}

// Page Facture
section.factures {
  width: 80%;
  margin: 0 auto;
  .container{
    form{
      display: flex;
      margin: 15px 0;
      align-items: center;
      input{
        padding: 5px;
        border-radius: 5px;
        margin-right: 15px;
        border: 2px solid var(--color-lightgrey);
        background-color: var(--color-subgrey);
      }
    }
  }
}

// Page erreur 404
section.error404{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  div.content{
    display: flex;
    flex-direction: column;
    img{
      aspect-ratio: auto;
    }
    a{
      margin: auto;
      margin-top: 55px;
      i{
        margin-right: 10px;
      }
    }
  }
}

// Page d'accueil
.case{
  background-color: var(--color-subgrey);
  border: 2px solid var(--color-lightgrey);
  border-radius: 10px;
  h4{
    margin-top: 15px;
    margin-left: 15px;
  }
}
section.head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px 5px;

  .el{
    display: flex;
    .case{
      height: 40px;
      width: 40px;
      margin-left: 5px;
    }
  }
}
section.home{
  // 100vh permet de prendre la hauteur de l'écran, dont on soustrait la hauteur du header (de tout ce qui est affiché au dessus de la section)
  height: calc(100vh - 80px - 70px);

  //border: 1px solid red;

  margin: 0 30px;

  //.top {
  //  display: grid;
    // grid-template-colums est suivis d'autant de valeurs qu'il y a de colonnes dans la ranger
    // fait des calcule avec soustraction permet de soustraire les marges présentes entre les
    // cases pour que celle-ci ne débordent pas à droite
  //  grid-template-columns: 20% calc(40% - 10px) calc(40% - 10px);
  //  grid-gap: 10px;
  //
  //  .case{
  //    height: calc(((100vh - 100px) / 4 - (33px / 3)) - 50px);
  //  }
  //}
  .middle {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 40% calc(20% - 10px) calc(20% - 10px) calc(20% - 10px) ;
    grid-auto-rows: auto;
    grid-gap: 10px;

    .case {
      height: calc((100vh - 100px) / 3 - (33px / 3));
    }
  }
  .bottom {
    margin-top: 10px;
    display: grid;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-gap: 10px;

    .case{
      height: calc(((100vh - 100px) / 4 - 5px) * 2 + 70px);
      .heading{
        display: flex;
        align-items: center;
        #formTopProduits{
          margin-left: 15px;
          input{
            margin: 0 10px;
            width: 50px;
            padding: 2px 5px;
            border-radius: 5px;
            border: 1px solid grey;
          }
        }
      }
      #divTopProduits{
        margin-top: 50px;
      }
    }
  }
}
.element{
  border: 1px solid var(--color-lightgrey);
  background-color: var(--color-subgrey);
  padding: 12px 18px;
  border-radius: 10px;
  display: inline-block;
  input{
    border: 1px solid var(--color-lightgrey);
    background-color: var(--color-subgrey);
    padding: 12px 18px;
    border-radius: 10px;
    display: inline-block;
  }
}
#produitsSelectionnes{
  input{
    border: 1px solid var(--color-lightgrey);
    background-color: var(--color-subgrey);
    padding: 12px 18px;
    border-radius: 10px;
    display: inline-block;
  }
}
[id^="produitDiv_"]{
  border: 1px solid var(--color-lightgrey);
  background-color: var(--color-subgrey);
  padding: 12px 18px;
  border-radius: 10px;
  //display: flex;
  align-items: center;
  //justify-content: space-between;
  //display: inline-block;
  display:grid;
  grid-template-columns: repeat(3, 215px);
  grid-gap: 10px;

  margin-top: 10px;
  width: 93%;
  input{
    width: 50px;
    margin-left: 15px;
    border: 1px solid var(--color-lightgrey);
    background-color: var(--color-subgrey);
    padding: 12px 18px;
    border-radius: 10px;
    display: inline-block;
  }
}

// Page Facture
section.facture{
  .first-line{
    display: grid;
    margin-left: 2%;
    grid-template-columns: 65% 35%;
    form{
      margin-right: 20px;
      display: grid;
      grid-template-columns: 40px auto auto 80px 150px 100px;
      //le dernier grid-item nth
      .btns {
        display: flex;
        align-items: center;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50%;
          height: 35px;
          text-align: center;
          border-radius: 5px;
          margin-right: 15px;
          border: 2px solid var(--color-lightgrey);
          background-color: var(--color-subgrey);
        }
      }
      .grid-item {
        padding: 10px 5px 15px;
        border-bottom: 1px solid #ccc;
        p{
          margin-bottom: 4px;
          span{
            padding: 0 13px;
            margin-bottom: 5px;
            border-radius: 5px;
            margin-right: 10px;
            border: 2px solid var(--color-lightgrey);
            background-color: var(--color-subgrey);
          }
        }
      }
      .grid-item:nth-child(-n+6) {
          border-top: 1px solid #ccc;
      }
      .submit-button {
        grid-column: 1 / -1;
      }
      i{
        font-size: 17px;
      }
    }
  }
  .second-line{

  }
}













